body {
    background-color: antiquewhite !important; 
}

.content {
    margin: 10px;
}

.grid-container {
    display: grid;
    justify-content: center;
    margin: 10px;
    grid-gap: 5px;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(3, auto);
}

.item-Owner-Card {
    grid-column: 3 / span 1;
    justify-self: end;
}

.item-Repository-Card {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
    justify-self: end;
}